# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output/
.temp/
.DS_Store
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next/ # For Next.js projects
dist/ # Common build output directory
build/ # Another common build output directory
coverage/ # Test coverage reports
logs/
*.log
*.pid
*.seed
*.pid.lock
.eslintcache
.prettiercache
.env
dupesogs-firebase-adminsdk-fbsvc-3d841ef93a.json

D:\Projects\Arishti chat app - Copy\server\firebase-adminsdk.json
./firebase-adminsdk.json
firebase-adminsdk.json
firebase-messaging-sw.js

# Firebase service account key
*.json
!firebase-messaging-sw.js # <-- Keep if needed
